source:
  namespace: chembl.molecule
  type: Drug #スプレッドシート”IDの詳細”ではDrugに分類されているが、Molecureというサブカテゴリを用意するのが適切かもしれない
  label: ChEMBL molecure
  prefix: http://rdf.ebi.ac.uk/resource/chembl/molecule/

target:
  label: ChEBI
  type: Drug
  name: ChEBI
  prefix: http://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI%

link:
  file: pair.tsv

  forward:
    namespace: rdfs
    label: molecule2drug
    prefix: http://rdf.ebi.ac.uk/terms/chembl#
    predicate: targetCmptXref

update:
  frequency: Monthly
  method: https://is.gd/h7nF4l